<div class="col-lg-12">
  <div class="footer">
    <div class="social">
      <div class="media">
        <i class="fab fa-twitter"></i>
      </div>
      <div class="media">
        <i class="fab fa-linkedin-in"></i>
      </div>
      <div class="media">
        <i class="fab fa-facebook-f"></i>
      </div>
    </div>
    <ol class=" pl-0 pr-0 bread mt-5">
      <li class="bread-item"><a href="#">About</a>/</li>
      <li class="bread-item"><a href="#">For Business</a>/</li>
      <li class="bread-item"><a href="#">Suggestions</a>/</li>
      <li class="bread-item"><a href="#">Help & FAQ's</a>/</li>
      <li class="bread-item"><a href="#">Contacts</a>/</li>
      <li class="bread-item"><a href="#">Pricing</a></li>
    </ol>
    <div style="margin-top: 20px;color:rgb(244, 227, 207);font-weight: 500;">
      &copy; Copyright 2019 companyname inc.
    </div>
    <ol class=" pl-0 pr-0 bread" style="margin-top: -5px;">
      <li class="bread-item"><a href="#">Privacy</a>/</li>
      <li class="bread-item"><a href="#">Terms</a></li>
    </ol>
  </div>
</div>
