<div class="col-lg-12 activity mt-4 pl-0">
  <div class="title mb-2 pb-2">
    <div
      class="col-lg-4 p-0"
      style="color: rgb(244,227,207);font-size: 24px;font-weight: 500;"
    >
      Activity
    </div>
    <div
      class="col-lg-8 pr-0"
      style="color: rgb(244,227,207);text-align: right;"
    >
      View timeline / Filter activities
    </div>
  </div>
  <div class="carde">
    <div class="img"></div>
    <div class="desc">
      <div>
        <strong>John Stainlor</strong>
        <span style="font-size: 14px;">&nbsp; commented</span>
      </div>
      <div style="font-size: 14px;">
        Lorem ipsum dolor sit consectetur elit...
      </div>
      <div>
        <i class="fas fa-comment" style="font-size: 12px;"></i>
        <span style="font-size: 12px;">&nbsp; 2 seconds ago</span>
      </div>
    </div>
  </div>
  <div class="carde">
    <div class="img"></div>
    <div class="desc">
      <div>
        <strong>John Stainlor</strong>
        <span style="font-size: 14px;">&nbsp; added new video</span>
      </div>
      <div style="font-size: 14px;">
        Lorem ipsum dolor sit consectetur elit...
      </div>
      <div>
        <i class="fas fa-video" style="font-size: 12px;"></i>
        <span style="font-size: 12px;">&nbsp; 5 minutes ago</span>
      </div>
    </div>
  </div>
  <div class="carde">
    <div class="img"></div>
    <div class="desc">
      <div>
        <strong>John Stainlor</strong>
        <span style="font-size: 14px;">&nbsp; shared a document</span>
      </div>
      <div style="font-size: 14px;">
        Lorem ipsum dolor sit consectetur elit...
      </div>
      <div>
        <i class="fas fa-file" style="font-size: 12px;"></i>
        <span style="font-size: 12px;">&nbsp; 1 day ago</span>
      </div>
    </div>
  </div>
  <div class="carde">
    <div class="img"></div>
    <div class="desc">
      <div>
        <strong>Arjun</strong>
        <span style="font-size: 14px;">&nbsp; unlocked new badge</span>
      </div>
      <div style="font-size: 14px;">
        Lorem ipsum dolor sit consectetur elit...
      </div>
      <div>
        <i class="fas fa-unlock" style="font-size: 12px;"></i>
        <span style="font-size: 12px;">&nbsp; 2 seconds ago</span>
      </div>
    </div>
  </div>
  <div class="carde">
    <div class="img"></div>
    <div class="desc">
      <div>
        <strong>Michael</strong>
        <span style="font-size: 14px;">&nbsp; uploded a new video</span>
      </div>
      <div style="font-size: 14px;">
        Lorem ipsum dolor sit consectetur elit...
      </div>
      <div>
        <i class="fas fa-video" style="font-size: 12px;"></i>
        <span style="font-size: 12px;">&nbsp; 1 hour ago</span>
      </div>
    </div>
  </div>
  <div class="carde">
    <div class="img"></div>
    <div class="desc">
      <div>
        <strong>John Stainlor</strong>
        <span style="font-size: 14px;">&nbsp; liked a video</span>
      </div>
      <div style="font-size: 14px;">
        Lorem ipsum dolor sit consectetur elit...
      </div>
      <div>
        <i class="fas fa-heart" style="font-size: 12px;"></i>
        <span style="font-size: 12px;">&nbsp; 19 minutes ago</span>
      </div>
    </div>
  </div>
</div>
