<nav aria-label="breadcrumb" class="mt-5 mb-4 col-lg-12 ">
  <ol class=" pl-0 pr-0 bread">
    <li class="bread-item"><a href="#videos">Videos</a>/</li>
    <li class="bread-item"><a href="#people">People</a>/</li>
    <li class="bread-item"><a href="#documents">Documents</a>/</li>
    <li class="bread-item"><a href="#">Events</a>/</li>
    <li class="bread-item"><a href="#">Communities</a>/</li>
    <li class="bread-item"><a href="#">Favorites</a>/</li>
    <li class="bread-item"><a href="#channels">Channels</a></li>
  </ol>
</nav>
