<div class="first-section" id="documents">
  <div class="col-lg-8 documents-section mt-4">
    <div class="title mb-2">
      <div
        class="col-lg-6 p-0"
        style="color: rgb(244,227,207);font-size: 24px;font-weight: 500;"
      >
        Documents
      </div>
      <div class="col-lg-6" style="color: rgb(244,227,207);">
        Browse all documents
      </div>
    </div>
    <div class="upper pr-0">
      <div class="col-lg-8 photo pb-2">
        <div class="desc">Mobile ui & ux guide 2013</div>
        <div class="author">
          By William Makhoja
          <div class="ml-auto" style="font-size: 16px;">168124 Views</div>
        </div>
      </div>
      <div class="col-lg-4 pl-2 pr-0">
        <div class="rights">
          <div class="photo p-2">
            <div class="author">
              HTML 5 and usage
            </div>
            <div class="view">
              168124 Views
            </div>
          </div>
          <div class="photo p-2">
            <div class="author">
              How to become an expert
            </div>
            <div class="view">
              168124 Views
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom pt-2 pr-0">
      <div class="col-lg-12 photo pb-2">
        <div class="author">
          2013 Marketing trends
        </div>
        <div class="view">168124 Views</div>
      </div>
      <div class="col-lg-12 photo pb-2">
        <div class="author">
          2013 Marketing trends
        </div>
        <div class="view">168124 Views</div>
      </div>
      <div class="col-lg-12 add">
        <i class="fas fa-plus-circle mr-3" style="font-size: 34px;"></i>Share
        <br />Your Document
      </div>
    </div>
  </div>
</div>
